
{:paths ["source-code/clj" "source-code/cljc" "source-code/cljs"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "b7604fc296c2f8fef7be1dae03745eb5eda3c122"}}}
