
{:paths ["source-code/clj" "source-code/cljc" "source-code/cljs"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "1f1c2503d6c614b0b39c7674fa5819e9bde3c747"}}}
