
{:paths ["source-code/clj" "source-code/cljc" "source-code/cljs"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "1c866f0799d7321b2fc1aabfedeb8b96b01f8f71"}}}
